<div class="todo-list-item">
  <p>{{ todo.text }}</p>
  <span>{{ todo.status }}</span>
  <span (click)="showEditToggle()">Edit</span>
  <span (click)="deleteTodoHandler.emit(todo.id)">X</span>
</div>
<div class="edit-todo" *ngIf="showEdit">
  <input type="text" [(ngModel)]="text" />
  <select [(ngModel)]="status">
    <option value="usual">usual</option>
    <option value="important">important</option>
    <option value="done">done</option>
  </select>
  <button (click)="editTodo(todo.id, this.text, this.status)">confirm</button>
</div>
