.todo-list-item {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}

// .done > p {
//   text-decoration: overline;
// }

.todo-list-item span {
  cursor: pointer;
}

.edit-todo > * {
  margin-right: 10px;
}
